body {
  min-width: 1200px;
  margin: 0%;
  padding: 0%;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  font-kerning: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.storybook {
  background-color: #849d8f;
}
.visually-hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}
.site-wrapper {
  min-width: 1240px;
  background-color: #849d8f;
  background-image: url("../img/content/icecream-first.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}
.catalog-page {
  min-width: 1240px;
  background-color: #849d8f;
}
.site-wrapper::before {
  background-image: url("../img/content/icecream-second.png");
}

.site-wrapper::after {
  background-image: url("../img/content/icecream-third.png");
}

.slider {
  position: relative;
  padding-top: 279px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 18px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slide {
  display: none;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/content/icecream-first.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/content/icecream-second.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/content/icecream-third.png");
}
.container {
  margin: 0 auto;
  width: 1160px;
  padding: 0 20px;
  padding-top:9px;

}
.visually-hidden {
  display: none;
}
.main-header {
  display:flex;
  justify-content: space-between;
}
a.main-header-logo {
  padding-top: 2px;
}
.linked-text {
  border-bottom: 1px solid rgba(255,255,255,0.2);;
}
.navigation {
  display: flex;
  flex-direction: column;
}
.navigation-inner {
  display: flex;
}
.line {
  border-bottom: 1px solid #d1d0ce;
  margin-left: 7px;
  margin-right: 7px;
}
.user-navigation {
  margin-top: 16px;
}
.user-navigation p {
  text-align: right;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}
.phone {
  font-size: 22px;
  line-height: 24px;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.main-navigation {
  margin-top: 16px;
  margin-left: 10px;
}
ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
ul.main-navigation > li {
  float: left;
  position: relative;
}
ul.main-navigation > li > a {
  display: block;
  line-height: 18px;
  color: #ffffff;
  box-sizing: border-box;
  padding: 8px 14px;
  text-decoration: none;
}
ul.main-navigation > li > a:hover {
  background-color: #ffffff;
  color: #323232;
  border-radius: 20px;
}
ul.catalog {
  visibility: hidden;
  transition: all 2s linear;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 10;
  width: 143px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 0px
}
ul.catalog > li {
  display: block;
}
ul.catalog > li > a {
  display: block;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}
ul.catalog > li > a:hover,
ul.catalog > li > a:focus {
  background-color: #fbded7;
}
ul.catalog > li > a:active {
  background-color: #f6b5a5;
}
ul.main-navigation > li:hover > ul.catalog {
  visibility: visible;
}
.catalog-item-current {
  background-color: #d07058;
}
.new {
  font-weight: bold;
}
.button {
  cursor: pointer;
  border: none;
  outline: none;
}
.user-navigation-list {
  display: flex;
  margin-bottom: 16px;
}
.loupe {
  color: #ffffff;
  box-sizing: border-box;
  border: none;
}
.find {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: currentColor;
  padding: 7px;
  margin-right: 10px;
  position: relative;
}
.find.loupe:hover,
.find.loupe:focus {
  background-color: #ffffff;
  color: #000000;
}
.search-form {
  width: 340px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 20px 15px;
    transition: all 3s linear;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden
}
button.button.find.loupe:hover .search-form,
button.button.find.loupe:focus .search-form {
  visibility: visible;
}
.search {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.what-search {
  width: 90%;
  border: none;
  margin: 10px 0px 10px 0px;
  outline: none;
  cursor: text;
  padding: 0px;
  padding-right: 14px;
  box-sizing: border-box;
}
.enter {
  color: #ffffff;
  box-sizing: border-box;
  border: none;
}
.button-standart {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  -webkit-appearance: none;
  -webkit-border-radius: 25px;
  height: 32px;
  fill: currentColor;
  font-size: 14px;
  line-height: 16px;
}
.button-standart.enter:hover,
.button-standart.enter:focus {
  background-color: #ffffff;
  color: #000000;
}
a.button-standart.enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93px;
  padding: 10px 16px;
  margin-right: 10px;
}

.modal {
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 6px;
  margin: 20px
}
.modal-login {
  width: 245px;
  padding: 20px 17px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45px;
  right: 230px;
  display: none;
}
.login-form p {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 2px;
}
input[type="email"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 9px 16px;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
}
.button-login {
  box-sizing: border-box;
  padding: 10px 28px;
}
.button-style {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f16442;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button-style:hover,
.button-style:focus {
  background-color: #ef7862;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.2);
}
.button-style:active {
  background-color: #db5137;
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.2);
}
.enter-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-help a{
  text-decoration: underline;
  color: #000000;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  padding-left: 17px;
}
.button-standart.busket {
  position: relative;
  padding: 8px 18px 8px 45px;
}

.busket {
  color: #ffffff;
  box-sizing: border-box;
  border: none;
}
.busket::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 18px;
  top: 6px;
  background-image: url("../img/decor/busket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.block {
  margin: 20px;
}
.busket-with-products {
  position: relative;
  padding: 10px 16px 10px 43px;
  color: #000000;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  border-radius: 25px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.busket-with-products::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 18px;
  top: 7px;
  background-image: url("../img/decor/busket-product.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.modal-busket {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 507px;
  padding: 23px 17px;
  position: absolute;
  top: 45px;
  right: 85px;
  display: none;
}

.modal-error {
  animation: shake 0.6s;
}
.table-busket {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  border-bottom: 2px solid #cacac7;
  border-collapse: collapse;
}
.modal-delete {
  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #f8f7f4;
  padding: 10px;
}
.modal-close {
  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #f8f7f4;
  padding: 10px;
  left: 20px;
}
.modal-delete::before,
.modal-delete::after,
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  top: 2px;
  left: 5px;
  background-color: #000000;
}
.modal-delete::before,
.modal-close::before {
  transform: rotate(45deg);
}

.modal-delete::after,
.modal-close::after {
  transform: rotate(-45deg);
}
.overlay {
  position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
    cursor: pointer;
}

.price {
  color: #aeaead;
}
.summ {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
}
.mini-image {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  padding: 0px;
  padding-right: 15px;
}
.product1 {
  background-image: url("../img/decor/icecream-mini1.jpg")
}
.product2 {
  background-image: url("../img/decor/icecream-mini2.jpg")
}
.order {
  box-sizing: border-box;
  padding: 9px 15px;
  margin: 0;
  margin-left: 335px;
  text-align: right
}
.busket-item {
  display: table-row;
  vertical-align: middle;
}
.box {
  padding-bottom: 23px;
}
.price-box {
  width: 121px;
}
.discription {
  width: 246px;
  padding-bottom: 16px;
}
.reference {
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px dotted;
  font-weight: 600;
}
.reference:hover,
.reference:focus,
.reference:active {
  color: #ffbc9e;
}
.reference-2 {
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 14px 20px;
  font-weight: 600;
}
.reference-2:hover span {
  border-bottom-color: transparent
}
.reference-2:hover,
.reference-2:focus,
.reference-2:active {
  color: #ffbc9e;
}
.button-slider {
  display: inline-block;
  box-sizing: border-box;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  margin: 0;
  text-align: right
}
.banners {
  display: flex;
  justify-content: space-around;
  padding-top: 46px;
  margin-bottom: 43px;
}
.banner-inner {
  border-radius: 20px;
    background-repeat: no-repeat;
    width: 561px;
}
.banner-inner-left {
  background-image: url("../img/background/raspberry.jpg");
}
.banner-inner-right {
  background-image: url("../img/background/chocolate.jpg");
}
.banner-inner h3 {
  font-size: 35px;
  line-height: 40px;
  padding-top: 18px;
  margin: 0;
  margin-bottom: 13px;
  padding-left: 18px;
}
.banner-inner p {
  font-size: 18px;
  line-height: 22px;
  padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 26px;
    margin-top: 0;
}
.button-banner-left {
  display: inline-block;
    box-sizing: border-box;
    padding: 12px 23px;
    margin-bottom: 22px;
    margin-left: 383px;
}
.button-banner-right {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 22px;
  margin-bottom: 18px;
  margin-left: 355px;
}
.hits{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.catalog-inner {
  width: 260px;
  height: 345px;
  position: relative;
  text-align: center;
  padding-top: 6px;
}
.catalog-style {
  position: absolute;

}
.catalog-inner img {
  border-radius: 50%;
  margin-bottom: 12px;
}
.unit {
  font-size: 30px;
}
.catalog-price {
  position: absolute;
    font-size: 45px;
    line-height: 45px;
    bottom: 39px;
    left: -2px;
}
div.catalog-style > p.catalog-price {
  margin-top: 0;
  top: 207px;
}
a.catalog-discription {
  color: #ffffff;
  display: inline;
    text-align: center;
    margin-top: 11px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.catalog-discription {
  display: inline;
    text-align: center;
    margin-top: 11px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.hit-logo {
  background-image: url(../img/decor/hit.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 3px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
justify-content: space-between;
  list-style: none;
  margin-bottom: 66px;
}
.catalog-inner:nth-child(4n) {
  margin-right: 0;
}
.button-quick-view {
  visibility: hidden;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 18px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.catalog-style:hover,
.catalog-style:focus {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.catalog-style:hover .button-quick-view,
.catalog-style:focus .button-quick-view {
  visibility: visible;
}
.graduation-type {
  color: #ffffff;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.graduation-type:before{
  content:'';
  position:absolute;
  right: 13px;
  bottom: 7px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ffffff;
  }
.button-standart.graduation-type {
  position: relative;
  padding: 0px 50px 0px 16px;
}

.graduation-type:hover,
.graduation-type:focus {
  color: #000000;
}
.graduation-type:focus::before,
.graduation-type:hover::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
}

.range-controls {
  position: relative;
  width: 219px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.range-controls .scale {
  height: 4px;
  background: rgba(255,255,255,0.5);
}
.range-controls .bar {
  margin-left: 15px;
  margin-right: 50px;
  height: 4px;
  background: #fff;
}
.range-price {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer;
}
.range-price-min {
  left: 34px;
  top: 7px;
}
.range-price-max {
  left: 60%;
  top: 7px;
}
.use {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 25px;
  padding: 7px 28px;
  margin-left: 15px;
}
.use:hover,
.use:focus {
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.use:active {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  padding: 10px 30px;
}
.catalog-columns {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.page-navigation {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 30px;
}
.arrow-back,
.arrow-to {
  position: relative;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  margin-right: 17px;
  padding: 0;
  margin-left: -7px;
}
.arrow-back::before,
.arrow-to::before,
.arrow-back::after,
.arrow-to::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  top: 2px;
  left: 5px;
  background-color: #fff;

}
.arrow-back::before {
  transform: rotate(50deg);
  top: 7px;
  opacity: 0.2
}

.arrow-back::after {
  transform: rotate(-50deg);
  opacity: 0.2
}
.arrow-to::before {
  transform: rotate(-50deg);
  top: 7px;
}
.arrow-to::after {
  transform: rotate(50deg);
}
.pages {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-right: 22px;
}
.page-item a {
  color: #fff;
  padding: 3px 8px;
  line-height: 18px;
  font-weight: 600;
  margin-left: 3px;
}
.page-current a {
    background-color: #fff;
    color: #000000;
    border-radius: 25px;
    margin: 0px
}
.page-item a:hover,
.page-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 25px;
}
.page-item a:active {
  background-color: #fff;
    color: #000000;
    border-radius: 25px;
}
.social-logo {
  color: rgba(255, 255, 255, 0.8);

}
.social-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    fill: currentColor;
    box-sizing: content-box;
    border: 3px solid rgba(255, 255, 255,0.4);
    border-radius: 50%;
}
.social-button.social-logo:hover,
.social-button.social-logo:focus {
  color: rgb(255, 255, 255);
}
.social-button.social-logo:active {
  border: 3px solid rgba(255, 255, 255,0.8);
}
.footer-social {
  text-align: center;
  width: 185px;
}
.footer-social ul{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.filter-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 37px;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin: 0px;
  padding-right: 20px;
  padding-left: 35px;
}
.graduation-fat {
  width: 358px;
}
.filters h3
 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 0px;
    margin-left: 14px;
    margin-top: 0px;
    margin-bottom: 6px;
}
.type-of-fat,
.price-range {
  margin-left: 15px;
}
.filter-option {
  margin-left: 25px;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: -3px;
  left: -34px;
  border: 0;
  background-image: url(../img/decor/radio-on.png);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked:hover+label::before,
.filter-input-radio:checked:focus+label::before {
  opacity: 1;
}
.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: -3px;
  left: -34px;
  border: 4px solid;
  border-radius: 25px;
  opacity: 0.8;
}
.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before {
  opacity: 1;
}
.filter-input-radio:disabled+label::before {
  opacity: 0.4;
}
.filler-type {
  width: 641px;
}
.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: -3px;
  left: -34px;
  border: 0;
  background-image: url(../img/decor/checkbox-on.png);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked:hover+label::before,
.filter-input-checkbox:checked:focus+label::before {
  opacity: 1;
}
.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -3px;
  left: -34px;
  border: 2px solid;
  border-radius: 3px;
  opacity: 0.8;
}
.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
  opacity: 1;
}
.filter-input-checkbox:disabled+label::before {
  opacity: 0.4;
}
.modal-feedback {
  width: 450px;
  padding-top: 20px;
  padding-right: 25px;
  top: 80px;
    left: 30%;
  position: fixed;
  z-index: 10;
  display: none;

}
.feedback-form-button {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 25px;
  padding: 13px 27px;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.feedback-form h3 {
  font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
}
.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 2px;
}
.feedback-form input[type="email"],
.feedback-form input[type="text"],
.comments {
    box-sizing: border-box;
    padding: 9px 16px;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
}
.feedback-form input[type="email"],
.feedback-form input[type="text"] {
  width: 265px;
}
.comments {
  width: 100%;
}
.feedback-form input[type="email"]:hover ,
.feedback-form input[type="email"]:focus,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="text"]:focus,
.comments:hover,
.comments:focus {
  border-width: 2px;
  border-color: #c7c6c5;
  padding: 8px 15px;
}

.button-send {
  box-sizing: border-box;
    padding: 10px 20px;
    margin-left: 216px;
    margin-top: 12px;
}
.feedback-title {
  display: flex;
}
.modal-delete-feedback::before,
.modal-delete-feedback::after {
  content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    background-color: #000000;
    z-index: 20;
    margin: 0;

}
.gllacy-advances {
  background-image: url(../img/background/vafla.jpg);
  width: 1127px;
  background-color: #efe3c7;
  border-radius: 15px;
  color: #000000;
  padding: 29px 20px;
  margin-bottom: 40px;
}
.gllacy-advances h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;

}
.advances {
  display: flex;

}
.advance-item-left,
.advance-item-right {
  display: flex;
  flex-direction: column;
  padding-left: 52px;
    position: relative;
}
.gllacy-advances p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
}
.advance-item-logo {
  position: absolute;
  width: 49px;
  height: 49px;
}
.advance-item-ice {
  background-image: url(../img/decor/logo-ice.svg);
  left: -2px;
  top: 8px;
}
.advance-item-flow {
  background-image: url(../img/decor/logo-flower.svg);
  left: -2px;
  bottom: 50px;
}
.advance-item-cow {
  background-image: url(../img/decor/logo-cow.svg);
  left: -18px;
  top: 8px;
}
.advance-item-temp {
  background-image: url(../img/decor/logo-therm.svg);
  left: -18px;
  bottom: 50px;
}
.other {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.blog {
  background-image: url(../img/background/straw-fonts.jpg);
    background-position: right;
    background-repeat: no-repeat;
    width: 553px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #000000;
    padding-top: 28px;
    padding-left: 18px;
    padding-bottom: 30px;
}
.blog h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: -3px;
  margin-bottom: 6px;
}
.blog a{
  display: inline-block;
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: underline;
  padding-right: 237px;
  margin-bottom: 50px;
}
.mail {
  background-image: url(../img/background/gradient.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 562px;
}
.mail-inner {
  background-color: #f8f7f4;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 15px;
  margin: 5px;
}
p.mail-info {
  margin: 0;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  margin-bottom: 38px;
}
.mail-form {
  display: flex;
  margin-left: 20px;
  padding-bottom: 32px;
}
.modal-map {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
.modal-map iframe {
  position: relative;
  z-index: 2;
}
input#adress {
  font-size: 16px;
  width: 376px;
}
.other-button {
  margin-left: 12px;
  padding: 0 20px;
}
.feedback {
  position: absolute;
  width: 306px;
  background-color: #fefefe;
  color: #000000;
  border-radius: 15px;
  top: 62px;
  right: 27px;
  z-index: 3;
}
.feedback p {
  padding-left: 25px;
  margin: 0;
  padding-right: 57px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 30px;
}
.feedback-adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.feedback-inner {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.feedback-form {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 25px;
  padding: 13px 27px;
}
.main-footer {
  margin: 0 auto;
  width: 1160px;
  padding: 18px 27px 10px 27px;
}
.main-footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-copyright p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 6px;
}
.footer-copyright a {
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.icon-html-academy {
  background-image: url(../img/decor/logo-htmlacademy-small.svg);
  background-repeat: no-repeat;
  width: 113px;
  height: 38px;
  margin-left: 5px;
}

.reference-footer {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.provider.reference-footer {
  font-weight: 600;
}
.other-references {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-top: 9px;
  margin-left: -24px;
}
.like {
  background-image: url(../img/decor/like.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 9px;
    top: 5px;
}
.other-references-inner {
  display: flex;
    flex-direction: column;
    margin-left: 33px;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 17px;
  list-style: none;

}
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

}
.breadcrumbs li {

  margin-right: 8px;
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;

}
.filters-inner {
  display: flex;
  margin-bottom: 18px;
}
